<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} Lic1575 Forum</title>
  </head>

  <body>

    <div id="header" align="center">
      <h1><a href={{ url_for("index") }}><img src="" alt="Logo" class="logo" /></a>{% block header %}{% endblock %}</h1>
    </div>

    <div id="menu" align="center">
      <a href={{ url_for("profile") }}>Profile</a>
      | <a href={{ url_for("rules") }}>Rules</a>

      {% block menu %}
      {% endblock %}

    </div>

    <div id="content">

      {% block content %}
      {% endblock %}

    </div>

    <div id="footer">
      <p>Copyright &#169;2021 Lic1575</p>
    </div>

  </body>
</html>
