<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lic1575 Forum</title>
  </head>

  <body>

    <div id="menu" align="center">
      <a href="/">Home</a> |
      <a href="/about">About</a> |
      <a href="/profile">Profile</a>
    </div>

    <div id="main" align="left">
      <h1 align="center">
        <img src="https://avatars.githubusercontent.com/u/52384223" width="100" height="100" alt="Lic1575 Forum" style="border-radius: 100%" border="1" />
        <br />
        Lic1575 Forum
      </h1>
      <p></p>
    </div>

  </body>
</html>
